/* regular */
body{margin:0px;padding: 0px;font-size: 14px;font-family:/*"Microsoft YaHei",*/Arial, Helvetica, sans-serif;color:#333}
img{border:0}
ul,li{ list-style:none}
a{color:#333;text-decoration:none}
a:hover{color:#909;}
.clear{ clear:both;font-size:0px;width:0px;height:0;visibility:hidden; overflow:hidden;}
.clearfix:after{content:".";display:block; height:0;clear:both;visibility:hidden;} /* only FF */
/* header */
#newtop{ background:url(images/top.gif) no-repeat center 5px; width:966px; margin:5px auto 0 auto}
.header{width: 1100px;margin: 0 auto;height: 130px;overflow: hidden;background-image: url(./images/content.gif);background-repeat: repeat-y;background-size: 1100px auto;}
.header01{width: 1080px;margin: 0 auto;height: 89px;overflow: hidden;border-top:1px #F6F6F6 solid;background: url(images/head.gif) no-repeat right 29px;}
#mnav{height: 40px;overflow: hidden;background-image: url(images/menubg.jpg);background-repeat: repeat-x;width: 1080px;margin: 0 auto;position:relative;}
.mnm ul{width: 1085px!important;width:960px;margin: 0 auto;padding: 0px;}
.mnm li{float: left;padding: 0 20px  0 0;line-height:40px;text-align: center;color: #FFF;list-style: none;margin: 0 8px 0 9px!important;background:url(images/menu_line.gif) no-repeat right center;}
#home #mnav li#m1 a,#about #mnav li#m2 a,#product #mnav li#m3 a,#size #mnav li#m4 a,#oem #mnav li#m5 a,#faq #mnav li#m6 a,#download #mnav li#m7 a,#member #mnav li#m8 a,#contact #mnav li#m9 a{background: url(./images/menu_hover.jpg) repeat-x;margin:0;padding: 0px;color:#ffff00}
.header01 .head_border_l{ background:url(images/head_border.gif) repeat-x; width:5px; height:80px; float:left}
.header01 .head_border_r{ background:url(images/head_border.gif) repeat-x; width:5px; height:80px; float:right}

.mnm a{color: #FFF;text-decoration: none;font-weight: bold;font-size:15px;display:inline-block;height: 100%;}
.mnm a:hover, .mnm a:active
{background: url(./images/menu_hover.jpg) repeat-x;color:#ffff00}
#headline{ height:5px; background:#151515}
.logo{width: 170px;height: 34px;float:left;padding-top: 25px;background:url(./images/logo.gif) no-repeat left center;cursor:pointer;margin: 0 0 0 33px;-moz-background-size: 100% 100%;}
.hright{float: right;width: 700px;overflow: hidden;margin-top:0px!important;margin-top:8px}
#banner{height:190px;width:724px;overflow:hidden;position:relative;left:-40px;}



.hr01{width:685px;height:28px;}
.hr01 div{float: right;line-height:26px;font-size: 12px;text-align:right}
.hr01 a:link, .hr01 a:visited{color:#F56893;text-decoration: none;}
.hr01 a:hover, .hr01 a:active{color:#f00;text-decoration: underline;}
.hr02{text-align:right;margin:0 10px 0 0;padding-top: 22px!important;margin: 0 5px 0 0;padding-top:0px;width:270px;float:right;color:#333;}

.search_input{padding: 2px;margin:3px;}
.myinput{float:left;height:26px;line-height: 24px;width:205px;margin:0;padding:0;background:url(images/search_k.gif) repeat-x left 0px;border:0;text-indent:0.5em;color:#F45B9B;}
.search{font-size:13px;margin:5px auto; text-align:center;padding:0;font-weight:normal}
.hr02 img{float:left; border:0}

/* content */
.content{background:#fff url(images/content.gif) repeat-y center top;overflow:hidden;width: 1100px;margin:0px auto 0px auto;background-size: 1100px;}

.content_shop{background:#fff url(images/content.gif)  repeat-y center top;overflow:hidden;width: 1100px;margin:0px auto 0px auto;background-size: 1100px auto;}
.shop{width: 1080px;margin:0 auto;}
.shop a{color:#333;text-decoration:none}
.shop a:hover{color:#909;}
.shopcart{width: 1089px;height:26px;font-size:16px;text-indent:1.5em;margin:10px 0 5px 0;padding:0;background:url(images/title.gif) no-repeat left bottom;background-size: 1078px auto;}

.cmainimg{margin-bottom:0 0 8px 10px;}
.mcontent{overflow: hidden;width: 1095px;margin:8px 0 0 0;}
.mcleft{float: left;width: 230px;margin:0 0 0 10px!important;margin:0 0 0 5px;}
.mcright{width: 850px;overflow: hidden;float: right;background-color:White;}
.mcbox01{
overflow: hidden;
margin-bottom: 10px;
}
.mc01t{
height: 37px;
background-image: url(images/img_147.jpg);
background-repeat: no-repeat;
}
.mc01t2{height: 32px;line-height:32px;background-image: url(images/img_240.jpg);background-repeat: no-repeat;color: #f3f8fe;font-weight:bold;text-indent:2em;background-size: 230px auto;}
 .OtherClass {margin: 3px;
    border: 1px dotted #d32e7a;
    padding: 3px;}
 .OtherClass li {
    line-height: 25px;
    display: inline-block;
    width: 206px;
    height: 22px;
 }
 .OtherClass li a {
    line-height: 25px;
    
    max-width: 180px;
    height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }
 .OtherClass li span { 
	color: red;
	}


.mc01cc{border-left: 1px solid #d1d1d1;border-right: 1px solid #d1d1d1;width: 225px;overflow: hidden;background-color: #fffffc;}
.mc01cc ul{ margin:0; padding:8px 0 10px 15px}
.mc01cc ul li.bigclass{list-style:none;/* background:url(images/libg.gif) no-repeat left center; */line-height:28px;/* text-indent:1.0em; */position:relative;margin-left: 1px;}
.mc01cc ul li.smallclass{list-style:none; background:none; line-height:28px; text-indent:1.1em;position:relative;}
.mc01cc ul li img{position:absolute; top:5px;left:-11px; z-index:99}
.mc01cc a{text-decoration: none;color: #494949;}
.mc01cc a:hover, .mc01cc a:active{color:#909;text-decoration: underline;}
.mc01b{height: 5px;overflow: hidden;font-size: 0px;}
.mc01b img{width: 227px;}
.indexpageht{
    float: left;
    font-size: 18px;
    line-height: 17px;
    background: #e5488b;
    padding: 4px;
    text-indent: 0.0em;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    }
.indexpageht a {color:#fff;font-size: 15px;}
.indexpagepsz{
    float: left;
    font-size: 18px;
    line-height: 17px;
    background: #fff;
    padding: 4px;
    text-indent: 0.0em;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    }
.indexpagepsz a{color:#000;font-size: 15px;}
.indexpagena{
    float: left;
    font-size: 18px;
    line-height: 17px;
    background: #fff;
    padding: 4px;
    text-indent: 0.0em;
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    }
.indexpagena a{color:#000;font-size: 15px;}
.indexselectht{float: right;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
	display:block;}
.indexselectna{float: right;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
	display:none;}
.indexpageproht{display:block;}
.indexpageprona{display:none;}
.indexpagepropsz{display:none;}
.mc02{padding:0px;overflow:hidden;width: 850px;margin: 3px 0 20px 0;}
.mc0201 span,.mc0201_1 span{float:right; font-size:12px; line-height:26px; margin-right:5px;}
.mc0201{width: 840px;height:26px;font-size:16px;text-indent:1.5em;margin:0;padding:0;background:url(images/title.gif) no-repeat left bottom;}
.mc0201_1{width: 844px;height:26px;font-size:16px;text-indent:1.5em;margin:0;padding:0;background:url(images/title.gif) no-repeat left bottom;}
.mc0201_11{width: 844px;height:26px;font-size:16px;text-indent:1.5em;margin:0;padding:0;background:url(images/title.gif) no-repeat left bottom;}
.proname{font-size: 15px;color:#F45B9B;}
.mc0203{margin-top:10px;color:#494949;line-height:24px;width: 845px;}
.mc0203 img{ margin:0 5px 0 0}

#news{padding-top:0; padding-bottom:0; margin:0 ; padding-left:10px;}
#news li{list-style:none; color:#f46b95; line-height:21px;}
#news li a{color:#f46b95; text-decoration:none;}
#news li a:hover{color:#ff0000; text-decoration:underline;}

#news li span{}
/* footer */

#foot{background:#fff url(images/content.gif) repeat-y center top;overflow:hidden;width: 1100px;margin:0 auto;background-size: 1100px auto;}
/* .footer{overflow:hidden;background:url(images/footbg.gif) repeat-x;font-size:12px;color:White;text-align:center;clear:both;width:956px;margin:0 auto} */
.footer{overflow:hidden;text-align:center;clear:both;width: 1100px;margin:0 auto;} 
.footer ul{margin:0; padding:0}
.footer .bottom a:link,.footer .bottom a:visited{line-height:40px;color:white;text-decoration: none; margin:0 5px 0 5px}
.footer .bottom a:hover,.footer .bottom a:active{line-height:40px;color:white;text-decoration: underline;}
.copy{color:#333;margin:5px 0 0 0;line-height: 22px;text-align:left;}
.copy img{border:0;vertical-align:middle}
.logo2{float:left;margin: 5px 20px 15px 48px;}
#newbottom{ background:url(images/bottom.gif) no-repeat center top; width:966px;margin:0 auto;}

#beginprice,#endprice{width: 30px;}
#findprice{float: right;width: 125px;overflow: hidden;height: 23px;}
.sizechoosemain {width: 90px;
    height: 20px;
	margin-top:1px;
    overflow: hidden;
    border: 1px solid darkgrey;
    position: relative;
    z-index: 9999;
    left: 565px;
    bottom: 24px;
    background-color: white;
	transition: all 1.5s;
	-moz-transition:all 1.5s; /* Firefox 4 */
	-webkit-transition:all 1.5s; /* Safari and Chrome */
	-o-transition:all 1.5s; /* Opera */
	}
.sizechoose{font-style: normal;color:red;padding-left: 5px;display: block;
    width: 160px;}
.sizechoose:hover{color:red;background-color: #eee;}
.showture{color:red;}
.showture:before{content:"\2611";}
.showfales{color:black}
.showfales:before{content:"\2610";}
.product{margin-top:10px;color:#494949;line-height:24px;}
.product ul{ margin:0; padding:0}
.product ul li{float:left; margin:0 5px 10px 5px!important;margin:0 4px 10px 4px; text-align:center; font-size:13px;_padding:5px 0 0 0}
.product ul li dl{height: 250px;margin:0;text-align:center;list-style:none;}
.product ul li dl div{height: 255px;overflow:hidden;display:block;padding:0;margin:0;position:relative;}
.product ul li dl img{background:url(images/loading.gif) no-repeat center center;}
.product ul li p{width: 195px;overflow:hidden;margin:0;padding:5px 0 0 0;white-space:nowrap;line-height:20px;}
.product ul li a{color:#f00;text-decoration:none;}
.product ul li a:hover{color:#090;}
.product ul li dl a{position:relative;display:block;}
.product ul li dl a div{position:absolute;background:url(./images/salebg.png) no-repeat;width:29px;height:44px;left: 165px;color:#fff;text-align:center;padding:0;margin:0;background-size: 29px 44px;}

.bigphoto{ position:relative; padding:0; margin:0; display:block; width:350px; height:450px;}
.bigphoto div{ position:absolute; background:url(./images/salebg.png) no-repeat; width:29px; height:44px; right:0px; top:10px; color:#fff; text-align:center; padding:0; margin:0;background-size: 29px 44px;}

.fenye{ width:700px; overflow:hidden; text-align:center; list-style:none}
.fenye a{ margin:0 2px 0 2px; background:#eeeeef; padding:2px 4px 2px 4px; border:1px #CCCCCC solid}
.dqy{margin:0 2px 0 2px; background:#C7206E; padding:2px 4px 2px 4px; border:1px #c00 solid;color:#fff}
.idcount{color:#f00}
.goto{ width:30px; height:16px; border:1px solid #ccc}

.homeleft1 {filter: alpha(opacity=100);background: #eee;border: solid 1px #ccc;padding: 3px 3px 5px 3px; width:194px;}
.homeleft2 {filter: alpha(opacity=100);background: #FFFBFF;border: solid 1px #eee;padding: 3px 3px 5px 3px;width: 194px;}	
.product_detail{line-height:24px;width:700px;overflow:hidden;}
.prod_r{margin-top:8px;width:380px; border-left:solid #ccc 1px; border-top:solid #ccc 1px;}
.prod_r td{border-bottom:solid #ccc 1px; border-right:solid #ccc 1px; margin:0; padding:5px 0 5px 10px; text-align:left;}
.prod_detail form{margin:10px 0 0 0;padding:0;}
.prod_rw{width:700px;overflow:hidden;    border-bottom: 1px #999 solid;
    border-left: 1px #999 solid;
    border-right: 1px #999 solid;}
.xk{width:680px;overflow:hidden; border-top:1px #CCCCCC dashed; padding:5px}
.ip1{ width:180px; height:18px}

.reg{ width:930px; margin:0 auto; line-height:20px}
.reg a{color:#333;text-decoration:none}
.reg table tr td{border-bottom:1px #CCCCCC dotted}
.register{width:930px; background:url(images/info.gif) no-repeat left center;font-size:16px; line-height:36px;text-indent:1.5em;margin:0 0 10px 0;padding:0; border-bottom:1px #F45B9B solid}


.red{color:#f00}
.bold{font-weight:bold; font-family:Arial, Helvetica,sans-serif}

/*feedback*/
.went {width:200px;height:18px;font-size:14px; background-color:#ffffff; border: #7F9DB9 1px solid;color:#78AAD8}
.went01 {width:360px;height:18px;font-size:14px; background-color:#ffffff;border: #7F9DB9 1px solid;color:#78AAD8}
.went03{background:#FFF url(../../img/logo.gif) no-repeat; width:360px;
background-position:center center;border: #7F9DB9 1px solid;color:#78AAD8
}
.validatecode {width:50px;height:18px;font-size:14px; background-color:#ffffff; border: #7F9DB9 1px solid;color:#78AAD8}
.member td{font-size:14px}
.creathtml{height:600px;overflow:auto;width:450px;margin:10px 0;font-size:12px;text-indent:2em}
.creathtml ul{ margin:0;padding:0;}
.creathtml ul p{margin:0 0 5px 0}
.creathtml ul li{line-height:18px;list-style:circle}
.cxprice{text-decoration:line-through;}

.mylogin{border-left: 1px solid #d1d1d1;border-right: 1px solid #d1d1d1;width: 225px;margin:0;background-color: #fffffc;}
.loading{padding-TOP:50px; margin:0 auto; WIDTH:190px;POSITION:absolute;HEIGHT: 32px;text-align:center}
.oemservice{ line-height:20px}
.fwmlist{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#0000ff}

.download{margin-top:10px;color:#494949;line-height:24px; padding:5px; line-height:25px;text-align:center}
.download ul{margin:0; padding:0}
.download ul li{ float:left; margin:5px 5px 5px 5px!important;margin:5px 3px 5px 3px; text-align:center}
.download ul li a{color:#333;text-decoration:none}
.download ul li a:hover{color:#909;}
.homeleft3 {filter: alpha(opacity=100);background: #eee;border: solid 1px #f09;padding: 3px;width:155px; height:170px;}
.homeleft4 {filter: alpha(opacity=100);background: #FFFBFF;border: solid 1px #eee;padding: 3px;width:155px; height:170px}


/******Online Servie**************/

#siderIMchat_main {
	MARGIN:0; WIDTH: 158px;color:#333
}
#siderIMchat_main .top {
	BACKGROUND: url(kefu/siderIM_title.gif); HEIGHT: 34px
}
#siderIMchat_main .infobox {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(kefu/siderIM_infobox.gif) #bdc5cb no-repeat; COLOR: #000; FONT-WEIGHT: 700; PADDING-TOP: 5px
}
#siderIMchat_main .bg {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(/kefu/siderIM_bg.gif); PADDING-TOP: 5px
}
#siderIMchat_main UL {
	MARGIN:0
}
#siderIMchat_main UL LI {
list-style:none;
text-align:center;
line-height:28px;
}
#siderIMchat_main .close {
width:100%;
text-align:center
}
#siderIMchat_main .bottom {
	BACKGROUND: url(kefu/siderIM_bottom.gif); HEIGHT: 9px; OVERFLOW: hidden
}

#msnwrapper{width:150px;overflow:hidden;}
.msnicon{width:40px;float:left;}
.msnsupport {width:104px;float:left;padding-left:6px;}

#QuickMenu{right:0px;top:151px;position:absolute;width:200px;z-index:1000;}
#ServiceMenu{float:right;overflow: hidden;display:none;}
#wft{margin:0;padding:0px;border:0px;overflow: hidden;}
#wfb{float:right;width:24px;margin:9px 0 0 0;border: 0px;}

/******CHECK OUT**************/

.chkno{font-size:15px;padding:10px 0px 10px 0px;}
.chkta{border:1px solid #ccc;margin-bottom:10px;}
.chktd{padding:6px;}
.chktr{font-weight:bold;}
.chktr2{height:30px;}
.paynow{margin:0 auto;text-align:center;}

.cm{font-size:14px;}
.cyc_1x a.addbut,
.cyc_1x a.addbut:hover,
.cyc_1x a.delbut,
.cyc_1x a.delbut:hover,
{display:inline-block; border:#ccc solid 1px; width:16px; height:16px; line-height:16px; float:none; clear:both; text-align:center; padding:0; margin:3px; color:#333; font-size:14px;}

.mcother{width: 205px;overflow: hidden;}
.mcother ul{ margin:0; padding:8px 0 10px 10px}
.mcother ul li{list-style:none; line-height:28px; text-indent:1.0em}
.mcother ul li img{vertical-align:middle; border:0px; margin-right:5px;}
.mcother a{text-decoration: none;color: #494949;}
.mcother a:hover, .mcother a:active{color:#909;text-decoration: underline;}
.l_er {width:174px;margin:10px auto ;}


.f_list{width: 845px;overflow:hidden;position:relative;padding:0;/* margin:0 0 0 10px; */}
.f_list ul li a img{width: 1080px;}
.f_title{height:40px; background-color:#000; position:relative;top:-40px; color:#fff; line-height:40px; padding-left:12px;opacity:0.40;filter:alpha(opacity=40);-moz-opacity:0.4; font-weight:bold;}
.flashlist { height: 190px; }
.flashlist .f_out { height: 190px; overflow: hidden; position: relative; padding:0; margin:0; }
.flash_tab {position: absolute;z-index: 101;right:440px;right:0px\9;bottom: -10px;height:26px;padding-top: 13px;}
.flash_tab .f_tabs { height: 8px; overflow: hidden; margin: auto; }
.flash_tab .f_tabs ul{padding:0; margin:0; }
.flash_tab .f_tabs ul li { width: 12px; height: 8px; float: left; display: block; }
.flash_tab .f_tabs ul li.opdiv, .noopdiv { padding: 0; opacity: 1 }
.flash_tab .f_tabs ul li.opdiv a { width: 6px; height: 6px; background-color:#ccc; display: block; }
.flash_tab .f_tabs ul li.opdiv a:hover { background-color:#f00;}
.flash_tab .f_tabs ul li.noopdiv a { width: 6px; height: 6px; background: #Ff0000; display: block; }
.f_imgctrl{position:absolute;}
.f_prev,.f_next{ display:block; width:45px; height:45px; opacity:0.40;filter:alpha(opacity=40);-moz-opacity:0.4; background-image:url(./images/png24.png);background-repeat:no-repeat; background-attachment:scroll; background-color:transparent; position:absolute; top:-150px;_background-image:url(./images/png24.gif);}
.f_prev{ background-position: left top;}
.f_next{ background-position: left -45px; left:664px;}
.f_prev:hover,.f_next:hover{opacity:0.80;filter:alpha(opacity=80);-moz-opacity:0.8}

.footer1{width: 1080px;margin:0 auto 10px auto;border-bottom:solid #cbcbcb 1px;border-top:solid #cbcbcb 1px;padding:15px 0px;line-height:22px;}
.f_li{float:left;padding: 0px 53px 0 40px;}
.f_li h1{color:#0e0e0e; font-size:14px; font-weight:bold; padding:0px; margin:0px;}
.f_li h1 a{color:#0e0e0e;text-decoration:none}
.f_li h1 a:hover{color:#909;}
.f_li1{padding:0px 0 0 0;}
.f_li1 p{line-height:22px; font-size:14px; color:#5c5c5c; padding:0px; margin:0px;}
.f_li1 p a{color:#5c5c5c;text-decoration:none}
.f_li1 p a:hover{color:#909;}
.time-item strong{background: #C71C60;color: #fff;line-height: 16px;font-size: 14px;font-family: Arial;padding: 0 5px;margin-right: 1px;border-radius: 5px;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);}
#spangaga{_margin-top: -15px;*margin-top: -15px;margin-top: -15px\0;}
#bktopbt{position: fixed;right: 101px;bottom: 20px;height: 100px;width: 30px;background-image: url("./images/itop.png");}
#bktopbt:hover{position: fixed;right: 101px;bottom: 20px;height: 100px;width: 30px;background-image: url("./images/btop.png");}
#error_box {width:540px;margin:0px auto 80px;}
#indexgogogo0,#indexgogogo1,#indexgogogo2,#indexgogogo3,#indexgogogo4,#indexgogogo5,#indexgogogo6,#indexgogogo7,#indexgogogo8{  background: #C71C60;color: #fff;line-height: 19px;font-size: 15px;font-family: Arial;padding: 0px 5px;margin-right: 1px;border-radius: 5px;box-shadow: 1px 1px 3px rgba(0,0,0,0.5);}

#drag{position:absolute;top:100px;left:100px;width:730px;height:400px;background:#e9e9e9;border:1px solid #444;border-radius:5px;box-shadow:0 1px 3px 2px #666;}
#drag .title{position:relative;height:27px;margin:5px;}
#drag .title h2{font-size:14px;height:27px;line-height:24px;border-bottom:1px solid #A1B4B0;}
#drag .title div{position:absolute;height:19px;top:2px;right:0;}
#drag .title a{float:left;width:21px;height:19px;display:block;margin-left:5px;background:url(./images/tool.png) no-repeat;}

#drag .title a.min{background-position:-29px 0;}
#drag .title a.min:hover{background-position:-29px -29px;}
#drag .title a.max{background-position:-60px 0;}
#drag .title a.max:hover{background-position:-60px -29px;}
#drag .title a.revert{background-position:-149px 0;display:none;}
#drag .title a.revert:hover{background-position:-149px -29px;}
#drag .title a.close{background-position:-89px 0;}
#drag .title a.close:hover{background-position:-89px -29px;}
#drag .mycontent{overflow:auto;margin:0 5px;width:100%;height:85%}
#drag .resizeBR{position:absolute;width:14px;height:14px;right:0;bottom:0;overflow:hidden;cursor:nw-resize;background:url(./images/resize.png) no-repeat;}
#drag .resizeL,#drag .resizeT,#drag .resizeR,#drag .resizeB,#drag .resizeLT,#drag .resizeTR,#drag .resizeLB{position:absolute;background:#000;overflow:hidden;opacity:0;filter:alpha(opacity=0);}
#drag .resizeL,#drag .resizeR{top:0;width:5px;height:100%;cursor:w-resize;}
#drag .resizeR{right:0;}
#drag .resizeT,#drag .resizeB{width:100%;height:5px;cursor:n-resize;}
#drag .resizeT{top:0;}
#drag .resizeB{bottom:0;}
#drag .resizeLT,#drag .resizeTR,#drag .resizeLB{width:8px;height:8px;background:#FF0;}
#drag .resizeLT{top:0;left:0;cursor:nw-resize;}
#drag .resizeTR{top:0;right:0;cursor:ne-resize;}
#drag .resizeLB{left:0;bottom:0;cursor:ne-resize;}

.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  padding: 6px 0 6px 0;
  font-size: 15px;
}
.dropdown [data-toggle="dropdown"]:hover {
  background: #e34689;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 1em;
  color: #e14187;
  top: 7px;
  left: -15px;
}
.dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow:before {
  content: '\25B2';
}
.dropdown .dropdown-menu {
  max-height: 0;

  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu li {
  padding: 0;
}
.dropdown .dropdown-menu li a {

}
.dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown .show, .dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -o-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }

  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -o-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }

  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -o-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }

  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -o-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }

  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}